* {
	box-sizing: border-box;
}

html.vista{
	font-family: 'Montserrat', sans-serif;
	background-color: #ebeef6;
}

/*BARRA LATERAL*/
.lateral {
	background-color:  #17203b;
	bottom: 0;
	left: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 18%;
	text-align: center;
	align-content: center;
}

.perfil_circulo {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	overflow: hidden;
	display:block;
	margin:auto;
	margin-top: 20%;
}

.perfil_foto {
	width: 100%;
}

.perfil_nombres {
	color: rgb(255, 255, 255) ;
	font-size: 2em;
}

.apellido{
	color: rgb(255, 174, 0);
}

.nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item, .nav-item-a {
    display:list-item;
    color: rgb(255, 255, 255) ;
    text-decoration: none;
	font-family: 'Montserrat', sans-serif;	
}

.nav-item-a:hover {
    color:  rgb(255, 174, 0);
}

/*IFRAME*/
.main{
	margin-left: 18%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 82%;
	height: 100%;
}

/* Habilidades */

.habilidades {
	padding: 0;
}

.habilidad--proyecto {
	background-color: rgb(255, 174, 0);
	color: #142684 ;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: .7em;
}



/* Proyectos */
.proyectos {
	padding: 1em;
	width: 100%;
	display: table;
}

.proyecto {
	display: table-cell;
	padding: 1em;
	width: 50%;
}

.proyecto__imagen {
	width: 100%;
	border-radius: 5%;
}

a, .proyecto__titulo {
	color: #17203b;
	font-size: 18px;
	text-align: center;
	;
}

.proyecto__descripcion {
	color:  #17203b;
	text-align: justify;
}

@media only screen and (max-width: 1100px) {
	.lateral {
		width: 100%;
		height: 9em;
		text-align: center;
		position: fixed;
		top: 0;
	}

	.nav {
		width: 100%;
		margin-top: 1%;
		text-align: center;
	}

	.perfil_circulo {
		display: none;
	}

	.main{
		top:9em;
		width:100%;
		margin-left: 0%;
	}
	
	.proyectos {
		justify-content: center;
		width: 100%;
	}

	.proyecto {
		display:grid;
		width: 100%;
	}
  }