* {
	box-sizing: border-box;
}

body {
    background-color: rgb(207, 231, 247);
}

.viajes_titulo {
    background-color: rgb(6, 39, 115);
    color: white;
    font-family: Verdana;
}

.pagina_viajes {
    background-color: rgb(207, 231, 247);
    font-family: Helvetica;
    color:rgb(0, 29, 97);
    margin-bottom: 3%;
    margin-top: 3%;    
}
