* {
	box-sizing: border-box;
}

body{
    background-color: rgb(215, 242, 145);
}

a {
    text-decoration: none;
}

h3{
    text-decoration: underline;
}

.titulo_blog {
    text-align: center;
    background-color: rgb(1, 23, 54);
    color: rgb(132, 255, 0);
}

#sem1{
    text-align: center;
    background-color: rgb(1, 23, 54);
    color: white;

}

#sem2{
    text-align: center;
    background-color: rgb(1, 23, 54);
    color: white;
    
}

#sem3{
    text-align: center;
    background-color: rgb(1, 23, 54);
    color: white;
    
}

.texto { 
    text-align: justify;
}

.pagina_blog{
    font-family: "Candara";
    color: rgb(1, 23, 54);
    background-color: rgb(215, 242, 145);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}
